* {
    box-sizing: content-box;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Lexend+Zetta:wght@100..900&family=Michroma&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Courier Prime', Courier, monospace;
}

p {
    font-family: 'Lexend Zetta';
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

h2 {
    font-family: 'Exo 2';
    text-align: center;
    text-shadow: 2px 2px 2px aqua;
    font-weight: bold;
}

.about-item h2 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.title {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    padding-top: 60px;
}

/* header */

.header {
    position: fixed;
    width: 100%;
    background-color: #041733;
    border-bottom: 2px solid #fff;
    z-index: 3;
}

.logo-img {
    filter: invert(100%);
    height: 39px; 
    width: 39px;
}

.logo-text h1 {
    color: gray;
    font-size: 25px;
}

.logo-text h4 {
    color: #FDFDFD;
    font-size: 12.5px;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: #fff;
}

.header ul {
    list-style: none;
    overflow: hidden;
}

.header li a {
    text-decoration: none;
    color: #fff;
}

.header li a:hover {
    text-decoration: none;
    color: lightgray;
}

.header .logo {
    float: left;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 20px 5px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    float: right;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 24px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    float: right;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 480px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 800px) {
    .logo-img {
        filter: invert(100%);
        height: 55px; 
        width: 55px;
    }

    .logo-text h1 {
        color: gray;
        font-size: 32px;
    }
    
    .logo-text h4 {
        color: #FDFDFD;
        font-size: 16px;
    }

    .header li {
        float: left;
    }

    ul {
        padding: 20px 0px;
    }

    li a {
        padding: 20px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        display: flex;
        flex-flow: row wrap;
        font-size: 20px;
        font-weight: bold;
    }

    .header .menu-icon {
        display: none;
    }

    .header {
        padding: 0 12px;
    }
}

/* hamburger and header ends */

hero {
    display: flex;
    flex-flow: row wrap;
    background-color: darkcyan;
    color: #fff;
    /* justify-content: center; */
    width: 100%;
    padding-top: 120px;
    padding-bottom: 50px;
}

.hero-container {
    display: block;
    flex-flow: column unwrap;
    color: #fff;
}

.hero-img img {
    height: 360px;
    width: 640px;
    box-shadow: 5px 5px 10px #041733;
}


#hero-text {
    font-size: 35px;
    max-width: 640px;
}

#hilite {
    text-transform: uppercase;
    color: #041733;
    text-shadow: 2px 2px 2px gray;
    font-weight: bold;
}

.hero-container button {
    cursor: pointer;
    margin: 30px auto;
    padding: 15px 20px;
    background-color: #041733;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo 2';
    text-align: center;
    transition: all 0.5s;
}

.contact-form button {
    cursor: pointer;
    margin: 12px auto;
    margin-bottom: 0;
    padding: 10px 15px;
    background-color: #041733;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Exo 2';
    transition: all 0.5s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    font-size: 18px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

about {
    display: flex;
    flex-flow: column wrap;
    background-color: #041733;
}

about .title {
    color: cyan;
    text-shadow: 1px 1px 1px #fff;
}

.about-container {
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    justify-content: center;
}

.about-item {
    max-width: 600px;
    border: 2px solid darkcyan;
    border-radius: 25px;
    box-shadow: 5px 5px cyan;
    margin: 60px 40px 80px 40px;
    padding: 40px;
}

services {
    display: flex;
    flex-flow: column wrap;
    background-color: darkcyan;
}

services .title {
    color: #fff;
    text-shadow: 1px 1px 1px #041733;
}

.services-container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    color: #fff;
    padding-bottom: 60px;
}

.service-item {
    max-width: 400px;
    background-color: #041733;
    border: 2px solid #041733;
    border-radius: 25px 0;
    box-shadow: 10px 10px lightgray;
    margin: 40px 20px 0 20px;
    padding: 25px;
}

testimonials {
    display: flex;
    flex-flow: column wrap;
    background-color: lightgray;
}

testimonials .title {
    color: #041733;
    text-shadow: 2px 2px 2px #fff;
}

.testimonial-container {
    display: block;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    color: #041733;
    padding: 0 20px 40px;
    max-width: 1000px;
}

#thor {
    margin-top: 20px;
    font-family: 'Exo 2';
    font-size: x-large;
    text-align: end;
}

contact {
    display: flex;
    flex-flow: column wrap;
    background-color: darkcyan;
}

contact .title {
    color: #fff;
    text-shadow: 1px 1px 1px #041733;
}

.contact-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 40px 0;
}

.contact-img img {
    margin-bottom: 50px;
    height: 440px;
    width: 640px;
}

.contact-form {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #041733;
    border-radius: 10px;
    color: #041733;
    font-size: large;
    font-family: 'Exo 2';
}

input[type=text] {
    width: 49%;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #041733;
    border-radius: 10px;
    color: #041733;
    font-size: large;
    font-family: 'Exo 2';
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    background-color: #041733;
    color: #fff;
}

footer p {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    font-size: large;
    margin: auto;
    padding: 0;
}

footer a {
    color: cyan;
    text-decoration: none;
}

footer a:hover {
    color: aquamarine;
}


@media (max-width: 800px) {
    ul li {
        padding: 30px;
    }

    footer {
        height: 40px;
        padding: 20px 0;
        display: block;
        flex-flow: column wrap;
    }
}

@media (max-width: 640px) {
    hero {
        display: flex;
        flex-flow: column-reverse wrap;
        padding-top: 80px;
        padding-bottom: 0px
    }

    .hero-img img {
        height: 190px;
        width: 350px;
    }

    #hero-text {
        margin-top: 40px;
        font-size: 20px;
        max-width: 350px;
    }

    p {
        font-family: 'Exo 2';
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
        line-height: 1.2;
    }

    h2 {
        font-family: 'Exo 2';
        text-align: center;
        text-shadow: 2px 2px 2px aqua;
        font-weight: bold;
    }

    .about-item h2 {
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }

    .about-item {
        margin: 30px 20px 40px 20px;
        padding: 20px;
    }

    .title {
        font-size: large;
        padding-top: 30px;
    }

    #thor {
        margin-top: 15px;
        font-size: large;
    }

    .contact-img img {
        margin-bottom: 30px;
        height: 220px;
        width: 350px;
    }
    
    .contact-form {
        display: flex;
        flex-flow: row wrap;
        max-width: 350px;
    }

    input[type=text] {
        width: 100%;
    }
}